
<header class="page-header">
  <nav class="navbar navbar-expand-lg isnav container">
    <a class="navbar-brand" href="/">
     <img src="/assets/img/logo.svg" width="300px"/>
    </a>
    <div class="trigger-menu-wrapper">
      <button class="trigger-menu">
        <span id="nav-icon3"
          ><span></span><span></span><span></span><span></span
        ></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <div class="ml-auto main-navbar-content">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']" routerLinkActive="active">SERVICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">CONTACT US</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="header-search">
          <a href="/login/" class="btn-comm effect-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M2.00098 11.999L16.001 11.999M16.001 11.999L12.501 8.99902M16.001 11.999L12.501 14.999"
                stroke="#fff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17"
                stroke="#fff"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>