<div class="content">
    <div class="d-flex half" style="height: 100vh;">
        <div class="bg" style="background-image: url('/assets/img/banner/_slide1.jpg');"></div>
        <div class="contents">
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="position-absolute top-0 right-0 text-right mt-lg-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
                    style="
                    position: absolute !important;
                    padding-top: 1.25rem !important;
                    padding-bottom: 1.25rem !important;
                    padding-left: 2.5rem !important;
                    padding-right: 2.5rem !important;
                    margin-top: 1.25rem !important;
                    margin-bottom: 0 !important;
                    text-align: right !important;
                    flex: none;
                    right: 0 !important; top: 0 !important; ">
                    <span class="font-weight-bold text-dark-50">Don't have an account yet?</span>
                    <a [routerLink]="['/register']" class="font-weight-bold ml-2"> Sign Up!</a>
                </div>

                <!--begin::Signin-->
                <div class="login-form login-signin">
                    <div class="text-center mb-3 pb-3">
                        <h3 class="font-size-h1">Sign In</h3>
                        <p class="text-muted font-weight-bold">Enter your email and password</p>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginForm">
                        <div class="form-group mb-3">
                            <input formControlName="email" class="form-control " type="email" placeholder="Email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="email"
                                autofocus />
                            <div *ngIf="submitted && f.email.errors" class="fv-plugins-message-container">
                                <div *ngIf="f.email.errors.required" class="fv-help-block">Email is required</div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <input formControlName="password" class="form-control " type="password"
                                placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                autocomplete="current-password" />
                            <div *ngIf="submitted && f.password.errors" class="fv-plugins-message-container">
                                <div *ngIf="f.password.errors.required" class="fv-help-block">Password is required</div>
                            </div>
                        </div>
                        <div class="d-flex mb-5 align-items-center justify-content-between">
                            <label class="control control--checkbox d-flex align-items-center mb-0"><span
                                    class="caption">Remember me</span>
                                <input type="checkbox" checked="checked" class="mx-1">
                                <div class="control__indicator"></div>
                            </label>
                            <span class="ml-auto">
                                <a [routerLink]="['/forgot-password']" class="font-weight-bold my-3 mr-2">Forgot
                                    Password ?</a>
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="kt_login_signin_submit" action="user_signin"
                                class="btn btn-primary d-block w-100 py-3">Sign In</button>
                            <!-- <a [routerLink]="['/']" type="button" id="kt_login_signup_cancel"
                                class="btn btn-danger mx-3">Cancel</a> -->
                            <span class="d-block text-center my-4 text-muted">— or —</span>
                            <div class="social-login">
                                <a [routerLink]="['/']" class="facebook btn d-flex justify-content-center align-items-center">
                                    <span class="icon-facebook mr-3"></span> Login with Facebook
                                </a>
                                <a [routerLink]="['/']" class="twitter btn d-flex justify-content-center align-items-center">
                                    <span class="icon-twitter mr-3"></span> Login with Twitter
                                </a>
                                <a [routerLink]="['/']" class="google btn d-flex justify-content-center align-items-center">
                                    <span class="icon-google mr-3"></span> Login with Google
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>