<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
      <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
        style="background-image: url('/assets/img/banner/_slide1.jpg'); background-repeat: no-repeat; background-size: cover; max-width:600px">
        <div class="d-flex flex-row-fluid flex-column justify-content-between">
          <a [routerLink]="['/']" class="flex-column-auto mt-5 pb-lg-0 pb-10">
            <img src="/assets/img/banner/_slide1.jpg" class="max-h-70px" alt="" />
          </a>
          <div class="d-none flex-column-auto d-lg-flex justify-content-between mt-10">
            <div class="opacity-70 font-weight-bold text-white">© 2023 OworkO</div>
          </div>
        </div>
      </div>
      <div class="h-100 d-flex justify-content-center align-items-center"
        style="flex: 1 auto; -ms-flex: 1 0 0px;  min-width: 0;margin-top: 7.5rem !important; ">
        <div
          class="position-absolute top-0 right-0 text-right mt-lg-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
          style="
                  position: absolute !important;
                  padding-top: 1.25rem !important;
                  padding-bottom: 1.25rem !important;
                  padding-left: 2.5rem !important;
                  padding-right: 2.5rem !important;
                  margin-top: 1.25rem !important;
                  margin-bottom: 0 !important;
                  text-align: right !important;
                  flex: none;
                  right: 0 !important; top: 0 !important; ">
          <span class="font-weight-bold text-dark-50">Don't have an account yet?</span>
          <a [routerLink]="['/login']" class="font-weight-bold ml-2"> Sign In!</a>
        </div>
  
        <!--begin::Signin-->
        <div class="forgotpassword-form">
          <div class="text-center mb-3 pb-3">
            <h3 class="font-size-h1">Change your Password</h3>
            <p class="text-muted font-weight-bold">Enter new password to reset your account.</p>
          </div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" id="changePasswordForm">
            <div class="form-group mb-3">
              <div class="input-group">
                <input formControlName="password" type="password" class="form-control" placeholder="Password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="off" />
              </div>
              <div *ngIf="submitted && f.password.errors" class="fv-plugins-message-container">
                <div *ngIf="f.password.errors.required" class="fv-help-block">Password is required</div>
              </div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="display: block;">
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group">
                <input formControlName="confirm_password" type="password" class="form-control" placeholder="Confirm Password"
                  [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />               
              </div>
              <div *ngIf="submitted && f.confirm_password.errors" class="fv-plugins-message-container">
                <div *ngIf="f.confirm_password.errors.required" class="fv-help-block">Confirm Password is required
                </div>
              </div>
              <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback" style="display: block;">
                <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-block">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>