<div class="d-flex flex-column flex-root">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
      style="background-image: url('/assets/img/banner/_slide1.jpg'); background-repeat: no-repeat; background-size: cover; max-width:600px">
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <a [routerLink]="['/']" class="flex-column-auto mt-5 pb-lg-0 pb-10">
          <img src="/assets/img/banner/_slide1.jpg" class="max-h-70px" alt="" />
        </a>
        <div class="d-none flex-column-auto d-lg-flex justify-content-between mt-10">
          <div class="opacity-70 font-weight-bold text-white">© 2023 OworkO</div>
        </div>
      </div>
    </div>
    <div class="h-100 d-flex justify-content-center align-items-center"
      style="flex: 1 auto; -ms-flex: 1 0 0px;  min-width: 0;margin-top: 7.5rem !important; ">
      <div
        class="position-absolute top-0 right-0 text-right mt-lg-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
        style="
                position: absolute !important;
                padding-top: 1.25rem !important;
                padding-bottom: 1.25rem !important;
                padding-left: 2.5rem !important;
                padding-right: 2.5rem !important;
                margin-top: 1.25rem !important;
                margin-bottom: 0 !important;
                text-align: right !important;
                flex: none;
                right: 0 !important; top: 0 !important; ">
        <span class="font-weight-bold text-dark-50">Don't have an account yet?</span>
        <a [routerLink]="['/login']" class="font-weight-bold ml-2"> Sign In!</a>
      </div>

      <!--begin::Signin-->
      <div class="forgotpassword-form">
        <div class="text-center mb-3 pb-3">
          <h3 class="font-size-h1">Forgot Password ?</h3>
          <p class="text-muted font-weight-bold">Enter your email to get reset password link</p>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" id="forgotPasswordForm">
          <div class="form-group mb-3">
            <input formControlName="email" class="form-control " type="email" placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="email" autofocus />
            <div *ngIf="submitted && f.email.errors" class="fv-plugins-message-container">
              <div *ngIf="f.email.errors.required" class="fv-help-block">Email is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn btn-primary btn-block reset-btn me-3">Send new password</button>
              <a [routerLink]="['/']" type="button" id="kt_login_signup_cancel"
              class="btn btn-danger">Cancel</a>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>